/*Carros*/

#Carro-img-1{
    background-image: url('../img/Carro\ \(1\).jpg');
}
#Carro-img-2{
    background-image: url('../img/Carro\ \(2\).jpg');
}
#Carro-img-3{
    background-image: url('../img/Carro\ \(3\).jpg');
}
#Carro-img-4{
    background-image: url('../img/Carro\ \(4\).jpg');
}
#Carro-img-5{
    background-image: url('../img/Carro\ \(5\).jpg');
}
#Carro-img-6{
    background-image: url('../img/Carro\ \(6\).jpg');
}
#Carro-img-7{
    background-image: url('../img/Carro\ \(7\).jpg');
}
#Carro-img-8{
    background-image: url('../img/Carro\ \(8\).jpg');
}
#Carro-img-9{
    background-image: url('../img/Carro\ \(9\).jpg');
}
#Carro-img-10{
    background-image: url('../img/Carro\ \(10\).jpg');
}
#Carro-img-11{
    background-image: url('../img/Carro\ \(11\).jpg');
}
#Carro-img-12{
    background-image: url('../img/Carro\ \(12\).jpg');
}
#Carro-img-13{
    background-image: url('../img/Carro\ \(13\).jpg');
}
#Carro-img-14{
    background-image: url('../img/Carro\ \(14\).jpg');
}
#Carro-img-15{
    background-image: url('../img/Carro\ \(15\).jpg');
}
#Carro-img-16{
    background-image: url('../img/Carro\ \(16\).jpg');
}
#Carro-img-17{
    background-image: url('../img/Carro\ \(17\).jpg');
}
#Carro-img-18{
    background-image: url('../img/Carro\ \(18\).jpg');
}

/*Paisagens*/
#Paisagem-img-1{
    background-image: url('../img/Paisagem\ \(1\).jpg');
}
#Paisagem-img-2{
    background-image: url('../img/Paisagem\ \(2\).jpg');
}
#Paisagem-img-3{
    background-image: url('../img/Paisagem\ \(3\).jpg');
}
#Paisagem-img-4{
    background-image: url('../img/Paisagem\ \(4\).jpg');
}
#Paisagem-img-5{
    background-image: url('../img/Paisagem\ \(5\).jpg');
}
#Paisagem-img-6{
    background-image: url('../img/Paisagem\ \(6\).jpg');
}
#Paisagem-img-7{
    background-image: url('../img/Paisagem\ \(7\).jpg');
}
#Paisagem-img-8{
    background-image: url('../img/Paisagem\ \(8\).jpg');
}
#Paisagem-img-9{
    background-image: url('../img/Paisagem\ \(9\).jpg');
}
#Paisagem-img-10{
    background-image: url('../img/Paisagem\ \(10\).jpg');
}
#Paisagem-img-11{
    background-image: url('../img/Paisagem\ \(11\).jpg');
}
#Paisagem-img-12{
    background-image: url('../img/Paisagem\ \(12\).jpg');
}
#Paisagem-img-13{
    background-image: url('../img/Paisagem\ \(13\).jpg');
}
#Paisagem-img-14{
    background-image: url('../img/Paisagem\ \(14\).jpg');
}
#Paisagem-img-15{
    background-image: url('../img/Paisagem\ \(15\).jpg');
}
#Paisagem-img-16{
    background-image: url('../img/Paisagem\ \(16\).jpg');
}
/*Artes*/
#Arte-img-1{
    background-image: url('../img/Arte\ \(1\).jpg');
}
#Arte-img-2{
    background-image: url('../img/Arte\ \(2\).jpg');
}
#Arte-img-3{
    background-image: url('../img/Arte\ \(3\).jpg');
}
#Arte-img-4{
    background-image: url('../img/Arte\ \(4\).jpg');
}
#Arte-img-5{
    background-image: url('../img/Arte\ \(5\).jpg');
}
#Arte-img-6{
    background-image: url('../img/Arte\ \(6\).jpg');
}
#Arte-img-7{
    background-image: url('../img/Arte\ \(7\).jpg');
}
#Arte-img-8{
    background-image: url('../img/Arte\ \(8\).jpg');
}
#Arte-img-9{
    background-image: url('../img/Arte\ \(9\).jpg');
}
#Arte-img-10{
    background-image: url('../img/Arte\ \(10\).jpg');
}
#Arte-img-11{
    background-image: url('../img/Arte\ \(11\).jpg');
}
#Arte-img-12{
    background-image: url('../img/Arte\ \(12\).jpg');
}
#Arte-img-13{
    background-image: url('../img/Arte\ \(13\).jpg');
}
#Arte-img-14{
    background-image: url('../img/Arte\ \(14\).jpg');
}
#Arte-img-15{
    background-image: url('../img/Arte\ \(15\).jpg');
}
#Arte-img-16{
    background-image: url('../img/Arte\ \(16\).jpg');
}

