*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}
/* Cabeçalho */

header{
    background-color: #7f7f7f;
    text-align: center;
    padding: 15px;
    color: #fff;
}

/* Grid de produtos */

.container {
    background-color: #ffffff;
    min-height: 60vh;
    padding: 50px;
}

.catalago-produto{
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    width: 47%;
    margin: 1% 1%;
    display: inline-block;
    padding: 15px;
    
}
.card2{
    width: 33%;
    display: inline-block;
}

.produto-imagem{
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background-position: auto;
    background-size: cover;
    border-radius: 5px;
}

#img-1{
    background-image: url('../img/tenis1.jpg');
}
#img-2{
    background-image: url('../img/tenis2.jpg');
}
#img-3{
    background-image: url('../img/tenis3.jpg');
}
#img-4{
    background-image: url('../img/tenis4.jpg');
}
#img-5{
    background-image: url('../img/tenis5.jpg');
}
#img-6{
    background-image: url('../img/tenis6.jpg');
}

h3{
    margin-bottom: 10px;
    color: #3db36b;
    font-size: 24px;
    border-left: 2px solid #0f642f;
    padding-left: 8px;
}

.card p{
    margin-bottom: 10px;
}
.bold {
    font-weight: bold;
}
.btn{
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #707070;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}


footer{
    background-color: #7f7f7f;
    text-align: center;
    padding: 80px;
    color: #fff;
}

.btn-hover:hover, .btn-visited:visited, .btn-hover2:hover{
    background-color: #383939;
}
.btn2-Arte, .btn2-Paisagens, .btn2-Carros{
    display: block;
    width: 100%;
    text-decoration: none;
    background-color: #707070;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}